#container {
    width: 100%;
}

#map {
    height: 400px;
    width: 45%;
    float : left;
}

#etatstation {
    height:400px;
    width:45%;
    float: right;
    border : 1px solid black;
    padding-left: 20px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}